<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/style.css">
    <title>Registrarse</title>
</head>
<body>

    <div class="register-form">
        <h1>Formulario</h1>
        <form action="/register" method="post">
            <label for="name">Nombre</label>
            <input type="text" name="name" required>

            <label for="email">Email</label>
            <input type="text" name="email" required>
            
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancelar</a>
                <input type="submit" class="btn-save" value="Save">

            </div>

        </form>

    </div>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>',
                text:'<%= alertMessage %>',
                icon:'<%= alertIcon %>',
                showConfirmButton:<%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>
</body>
</html>